<header class="header">

    <div class="logo">
        <img class="logo__img" src="{{logo}}" alt="">   
    </div>
    
    <h1 class="header__h1 animate__animated animate__lightSpeedInLeft">{{name}}</h1>
        
    </header>
