

.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #000;
    display: flex;
    flex-direction: row;

    .logo {
        width: 18%;
        margin: 10px 40px;
        max-height: 100%;

        .logo__img {
            max-width: 40%;
        }
    }

    .header__h1 {
        color: #fff;
        text-align: center;
        font-size: 60px;
        margin: auto 0px;
    }

    .animate__animated.animate__lightSpeedInLeft {
        --animate-duration: 5s;
      }

}
