.player-list {
    background-color: silver;
    border-radius: 10px;
    width: 40%;
    margin: 20px auto;
    border: 4px solid black;
    text-align: center;

    .player-name {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    .player-list__p {
        margin: 10px auto;
    }

    .player-list__img {
        max-width: 50%;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 4px solid black;
    }
}


.editor-box{
    background-color: silver;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    border: 4px solid black;
    text-align: center;

.editor-h1 {
    text-align: center;
    background-color: black;
    width: 50%;
    margin: 0px auto;
    margin-top: 50px;
    color: white;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .playerName {
        margin: 10px;
        width: 40%;
        height: 40px;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .button-box {
        display: flex;
        flex-direction: row;
        justify-content: center;

    .button {
        width: 100%;
        height: 40px;
        padding: 0px 14px;
        background-color: transparent;
        color: black;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
        margin: 0px 10px;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        &:hover {
            font-size: 16px;
            font-weight: 700;
            color: goldenrod;
        }
    }
    }
}
}