<div class="editor-box">
<h1 class="editor-h1">EDITOR</h1>
<div class="editor">
    <input id="playerName" class="playerName">
    <div class="button-box">
        <button class="button" type="submit">Actualizar</button>
        <button class="button" type="submit">Borrar</button>
    </div>
</div>
</div>


<div class="player-list" *ngFor="let player of myPlayers">
    <p class="player-list__p player-name">{{ player.name }}</p>
    <p class="player-list__p">{{ player.age }}</p>
    <p class="player-list__p">{{ player.position }}</p>
    <p class="player-list__p">{{ player.numero }}</p>
    <img class="player-list__img" src="{{ player.url }}" alt="">
</div>


  
