.form {
    padding-top: 140px;
    .form-box {
        background-color: silver;
        border: 4px solid black;
        border-radius: 10px;
        text-align: center;
        width: 60%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        padding: 20px 0px;

        .form__fieldset {

            text-align: justify;
            border: none;
            margin: 20px auto;
            margin-left: 200px;
            font-weight: 600;

            .form__label {
                margin-right: 10px;
            }

            .form__input {
                width: 40%;
                height: 20px;
            }
        }

        .form__submit {
            text-decoration: none;
            color: #000;
            padding: 9px 20px;
            border: 2px solid #000;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            background-color: rgb(187, 175, 175);
            font-weight: 600;
            margin: 10px 10px;
        }

        .form__submit:hover {
            background-color: #000;
            color: #fff;
            font-size: 14px;
            border: 2px solid #fff;
        }

    }
}