<div class="form">

    <div class="form-box">

        <h2 class="form__h2">Formulario de Registro:</h2>
        <!-- formGroup es el nombre de nuestro formFroup del .ts -->
        <form class="form__fields" novalidate (ngSubmit)="onSubmit()" [formGroup]="superForm">
        <!-- Fieldset del primer campo - name -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="name">Nombre:</label>
            <input class="form__input" type="text" id="name" formControlName="name" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!superForm.get('name').valid &&
                (superForm.get('name').dirty || submitted)">
                Has introducido mal el nombre
            </div>
        </fieldset>

        <!-- Fieldset del segundo campo - favPlayer -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="age">Edad</label>
            <input class="form__input" type="number" id="age" formControlName="age" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!superForm.get('age').valid &&
                (superForm.get('age').dirty || submitted)">
                Has introducido mal la edad.
            </div>
        </fieldset>

        <!-- Fieldset del tercer campo - url -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="url">Imagen:</label>
            <input class="form__input" type="text" id="url" formControlName="url" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!superForm.get('url').valid &&
                (superForm.get('url').dirty || submitted)">
                Has introducido mal la url de la imagen.
            </div>
        </fieldset>
	
	    <!-- Fieldset del cuarto campo - password -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="numero">Numero:</label>
            <input class="form__input" type="numero" id="numero" formControlName="numero" />
		    <!-- Si el campo password es invalido / ha sido password / submitted = true -->
            <div *ngIf="!superForm.get('numero').valid &&
                (superForm.get('numero').dirty || submitted)">
                Has introducido mal el numero.
            </div>
        </fieldset>

	    <!-- Fieldset del quinto campo - repeatPassword -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="position">Posicion:</label>
            <input class="form__input" type="positioin" id="position" formControlName="position" />
		        <!-- Si el campo repeatPassword es invalido / ha sido password / submitted = true -->
            <div *ngIf="!superForm.get('position').valid &&
                (superForm.get('position').dirty || submitted)">
                Has escrito mal la posicion.
            </div>
        </fieldset>

	        <!-- Botón deshabilitado hasta que el formulario sea valid -->
        <button class="form__submit" type="submit" [disabled]="!superForm.valid">Enviar</button>
        <!--
        <button class="form__submit" type="submit" (click)="newdata()">Actualizar</button>
        <button class="form__submit" type="submit" (click)="newdata()">Borrar</button>
        -->
        </form>

    </div>

</div>
  

