* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images6.alphacoders.com/691/691191.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}